<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>257154828602-fanfk8scioeeddbs76g8btj3r31rehkt.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.257154828602-fanfk8scioeeddbs76g8btj3r31rehkt</string>
	<key>API_KEY</key>
	<string>AIzaSyAgQZ4BiKsWB2ZAR6oV0a-K58VK9mI9MVQ</string>
	<key>GCM_SENDER_ID</key>
	<string>257154828602</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>nicostern.CS50quiz</string>
	<key>PROJECT_ID</key>
	<string>cs50quiz</string>
	<key>STORAGE_BUCKET</key>
	<string>cs50quiz.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:257154828602:ios:19a92b22294847dd8ce803</string>
</dict>
</plist>